
.allCountries{
    width: 50vw;
    max-width: 400px;
    min-width: 250px;
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);
}

.country{
    display: flex;
    justify-content: space-between;
    text-align: end;
    height: 55px;
    border: rgba(255, 255, 255, 0.87) solid 1px;
    transition: transform 0.5s;
    align-items: center;
}

.country:hover{
    background-color: #3d3d3d;
    /* margin-left: 15px; */
    transform: scale(1.05);
}

.flag{
    width: 80px;
    height: 54px;
    margin-top: 6px;
}

.nameDiv{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.allCountriesDiv{
    /* width: 100vw; */
    display: flex;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
    /* margin: 0px 0px 0px 15px; */
}

.moreInfoDiv{
    width: 50vw;
    min-height: 575px;
    /* border: 1px red solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
}

.moreInfoFlag{
    max-width: 100%;
    max-height: 320px;
}

.moreInfoCaption{
    font-size: 50px;
}

.flagCaptionDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 70%;
    /* border: 1px red solid; */
    text-align: center;
}

.info{
    display: flex;
    align-items: center;
    height: 30%;
    font-size: 19px;
}

@media (max-width: 550px){
    .moreInfoDiv{
        display: none;
    }

    .allCountriesDiv{
        justify-content: center;
    }

    .allCountries{
        width: 90%;
    }

    .country:hover{
        transform: scale(0.93);
    }
}

@media (max-width: 352px){
    .country{
        height: 52px;
    }

    .flag{
        height: 52px;
    }
}